{% extends 'base.html' %}

{% block title %}Detalle del Equipo{% endblock %}
{% block page_title %}Detalle del Equipo{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h2>Detalle del Equipo</h2>
            <table class="table table-striped">
                <tr>
                    <th>Número de Serie</th>
                    <td>{{ equipo.num_serie }}</td>
                </tr>
                <tr>
                    <th>Número de Inventario</th>
                    <td>{{ equipo.num_inventario }}</td>
                </tr>
                <tr>
                    <th>Número de Activo</th>
                    <td>{{ equipo.num_activo }}</td>
                </tr>
                <tr>
                    <th>Marca</th>
                    <td>{{ equipo.marca }}</td>
                </tr>
                <tr>
                    <th>Modelo</th>
                    <td>{{ equipo.modelo }}</td>
                </tr>
                <tr>
                    <th>Tipo</th>
                    <td>{{ equipo.tipo }}</td>
                </tr>
                <tr>
                    <th>Especificaciones</th>
                    <td>{{ equipo.especificaciones }}</td>
                </tr>
                <tr>
                    <th>Fecha de Adquisición</th>
                    <td>{{ equipo.fecha_adquisicion }}</td>
                </tr>
                <tr>
                    <th>Estado</th>
                    <td>{{ equipo.estado }}</td>
                </tr>
                <tr>
                    <th>IP</th>
                    <td>{{ equipo.ip }}</td>
                </tr>
                <tr>
                    <th>Nombre del Equipo</th>
                    <td>{{ equipo.nombre_equipo }}</td>
                </tr>
                <tr>
                    <th>Asignado a</th>
                    <td>
                        {% if asignado %}
                            {{ asignado.empleado.nombre }} (RPE: {{ asignado.empleado.rpe }})
                           
                        {% else %}
                            No asignado
                        {% endif %}
                    </td>
                </tr>
            </table>

            {% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
              
               
            <div style="text-align: center; margin-top: 20px;">
                <a href="{% url 'crear_asignacion' equipo.id %}" class="btn btn-success">Asignar Equipo a Empleado</a>
                <a href="{% url 'home' %}" class="btn btn-primary" style="margin-left: 10px;">Regresar al Menú Principal</a>
            </div>
          
        </div>
    </div>
</div>
{% endblock %}
